@import '../../../variables';
.details {
    .image {
        @extend %details-image;
    }
}
.known-for {
    margin-left: auto;

    .movie {
        .image {
            animation-duration: 400ms;
            animation-name: maxHeight;
        }

        @extend %movie;

        @include fullhd {
            min-width: 170px;
        }
    }
}
