<app-loading-spinner [show]="loading" overlay></app-loading-spinner>
<div *ngIf="person">
    <div class="details is-relative">
        <div class="section columns">
            <div class="section column is-narrow is-offset-1 is-relative">
                <app-image [url]="person.profile_path" classList="cover container" type="person" size="medium">
                </app-image>
            </div>
            <div class="summary section is-medium column is-5">
                <h2 class="title is-2">
                    {{ person.name }}
                </h2>
                <h3 class="title is-4">Biography</h3>
                <p class="biography is-size-6 has-text-grey">
                    {{ person.biography }}
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="moviesAsCast" class="known-for container section">
        <h3 class="title is-4 has-text-grey-lighter">Known for</h3>
        <div class="grid-columns columns">
            <a *ngFor="let movie of moviesAsCast | slice:0:castLimit" class="movie column"
                routerLink="/title/{{ movie.id }}">
                <app-image [url]="movie.poster_path" type="movie" size="small" small></app-image>
            </a>
        </div>
        <a *ngIf="moviesAsCast.length > castLimit" (click)="toggleCastLimit()" class="title is-5 has-text-warning">Show
            {{ _toggleCastLimit ? 'less' : 'more' }}</a>
    </div>
</div>
