@import '../../../variables';
.details {
    background-color: $black-bis;

    .summary {
        .title.is-2 {
            text-shadow: 1px 1px 4px rgba(0, 0, 0, .75);
        }
    }

    .image {
        @extend %details-image;
    }

    .biography {
        position: relative;
    }
}
.known-for {
    .movie {
        overflow: hidden;
    }
}
