@import '../../../variables';

.slide-in-out {
    transform-origin: left;
}

.thumbnail figure {
    max-width: 25%;
    height: auto;
}

.grid-columns {
    grid-gap: 5rem;
}

.my-list {
    &-new {
        margin-bottom: 2.5rem;
    }

    &-remove {
        position: absolute;
        right: -0.25rem;
        top: 0.5rem;
    }

    &-title {
        overflow-wrap: break-word;
    }
}

.card {
    &-image {
        background-color: $black-bis;
    }

    &-content {
        padding: 0.5rem 1.5rem 0.5rem 0;
    }
}
