<div class="container">

    <div class="section">
        <form #newListForm="ngForm" (ngSubmit)="onSubmitNewListForm(newListForm)" novalidate>
            <div class="field is-horizontal">
                <div class="field-label">
                    <button type="button" (click)="toggleNewListForm()" class="button is-link">
                        <span class="icon">
                            <fa-icon [icon]="faPlus"></fa-icon>
                        </span>
                        <span>New list</span>
                    </button>
                </div>
                <div class="field-body">
                    <div *ngIf="!newListFormVisible" [@slideInOut] class="field is-expanded has-addons slide-in-out">
                        <div class="control is-expanded">
                            <input type="text" class="input"
                                [ngClass]="{ 'is-danger': newListForm.invalid && (newListForm.dirty || newListForm.touched) }"
                                placeholder="List title" name="title" ngModel required>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-link">
                                <span>Create</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="myLists" class="section">
        <div class="title">My lists</div>

        <div class="grid-columns">
            <div class="card" *ngFor="let list of myLists">
                <div class="card-content">
                    <a routerLink="/list/{{ list.title | lowercase }}">
                        <span class="my-list-title">{{ list.title }}</span>
                    </a>
                    <a (click)="removeList(list.title)" class="has-text-danger is-pulled-right">
                        <span class="icon">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </span>
                    </a>
                </div>
                <div class="card-image">
                    <a routerLink="/list/{{ list.title | lowercase }}">
                        <div class="columns is-multiline is-mobile is-marginless">
                            <ng-container *ngFor="let movie of list.movies | slice:0:4">
                                <app-image class="column is-half" [url]="movie.poster_path" type="movie" size="small"
                                    small [alt]="movie.title">
                                </app-image>
                            </ng-container>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
