<div class="section container">

    <div class="my-list-new">
        <form #newListForm="ngForm" (ngSubmit)="onSubmitNewListForm(newListForm)" novalidate>
            <div class="field">
                <label class="label has-text-grey-lighter">
                    <span class="icon">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </span>
                    New list
                </label>
                <div class="control">
                    <div class="field has-addons slide-in-out">
                        <div class="control">
                            <input type="text" class="input"
                                [ngClass]="{ 'is-danger': newListForm.invalid && (newListForm.dirty || newListForm.touched) }"
                                placeholder="My awesome list" name="title" autocomplete="off" maxlength="20" ngModel
                                required>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-link">
                                <span>Create</span>
                            </button>
                        </div>
                    </div>
                </div>
                <p *ngIf="newListFormError" class="help is-danger">
                    <span class="has-text-weight-bold">Error:</span> {{ newListFormError }}
                </p>
            </div>
        </form>
    </div>
    <div *ngIf="myLists">
        <div class="title">My lists</div>
        <div class="subtitle is-6">Drag and drop to reorganize your lists</div>
        <div *ngIf="!myLists.length" class="has-text-centered subtitle is-5">
            You do not have any lists yet. C'mon, create one already!
        </div>
        <div cdkDropList [cdkDropListData]="myLists" (cdkDropListDropped)="drop($event)" class="grid-columns"
            lazyLoadImages>
            <div cdkDrag *ngFor="let list of myLists" class="card">
                <div class="card-content">
                    <a routerLink="/list/{{ list.title | lowercase }}">
                        <span class="my-list-title">
                            <span class="my-list-title-text">{{ list.title }}</span>
                            <span class="my-list-title-splitter">&ndash;</span>
                            <span class="my-list-title-amount">{{ list.movies.length }}</span>
                        </span>
                    </a>
                    <a (click)="removeList(list.title)" class="my-list-remove has-text-danger">
                        <span class="icon">
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </span>
                    </a>
                </div>
                <div class="card-image">
                    <a routerLink="/list/{{ list.title | lowercase }}">
                        <div class="grid-columns-card is-marginless">
                            <ng-container *ngFor="let movie of list.movies | slice:0:10; let last = last">
                                <app-image class="thumbnail is-paddingless" [src]="movie.image" type="movie"
                                    size="small" small lazy>
                                    <div *ngIf="last && list.movies.length > 10" class="my-list-more">
                                        <fa-layers>
                                            <fa-icon [icon]="faHeart" class="has-text-danger">
                                            </fa-icon>
                                            <fa-layers-text content="{{ list.movies.length - 10 }}+"
                                                class="has-text-white my-list-more-amount">
                                            </fa-layers-text>

                                        </fa-layers>
                                    </div>
                                </app-image>
                            </ng-container>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
