<div class="field has-addons">
    <div class="control">
        <div class="select">
            <select [(ngModel)]="selectedList">
                <option selected hidden disabled>Add to list</option>
                <option *ngFor="let list of myLists | keyvalue" [value]="list.key">
                    {{ list.key }}
                </option>
            </select>
        </div>
    </div>
    <div class="control">
        <button (click)="addToList()" class="button is-dark">
            <span class="icon">
                <fa-icon [icon]="faPlus"></fa-icon>
            </span>
            <span>Add</span>
        </button>
    </div>
</div>
