<div *ngIf="movie" class="details is-relative">
    <div *ngIf="movie.backdrop_path"
        [style.backgroundImage]="'url(https://image.tmdb.org/t/p/w1280' + movie.backdrop_path + ')'"
        class="backdrop is-hidden-touch">
    </div>
    <div class="section columns">
        <div class="section column is-narrow is-offset-1 is-relative">
            <figure>
                <img src="https://image.tmdb.org/t/p/w342{{ movie.poster_path }}" class="image container" />
            </figure>
            <div *ngIf="movie.vote_count !== 0" class="user-ratings column has-text-centered">
                <span class="title is-3">{{ movie.vote_average }}</span>
                <span class="has-text-grey">/10</span>
                <div>
                    <small class="has-text-grey">{{ movie.vote_count | number }} ratings</small>
                </div>
            </div>
        </div>
        <div class="summary section is-medium column is-5">
            <h2 class="title is-2">
                {{ movie.title }}
                <small class="subtitle is-4">({{ movie.release_date | date: 'yyyy' }})</small>
            </h2>
            <div *ngIf="movie.title !== movie.original_title" class="has-text-grey-light">
                {{ movie.original_title }} <span class="is-italic">(original title)</span>
            </div>
            <div class="subtext is-size-7-mobile has-text-grey-light">
                <ng-container *ngIf="movieRating">
                    <span class="rating">{{ movieRating }}</span>
                    <span class="separator">|</span>
                </ng-container>
                <ng-container *ngIf="movie.runtime">
                    <span class="runtime">{{ movie.runtime }} min</span>
                    <span class="separator">|</span>
                </ng-container>
                <span *ngIf="movie.release_date"
                    class="release-date">{{ movie.release_date | date: 'd MMMM yyyy' }}</span>
                <ng-container *ngIf="movieGenres.length">
                    <span class="separator">|</span>
                    <ng-container *ngFor="let genre of movieGenres; let isLast=last">
                        <span>{{ genre }}</span>{{ isLast ? '' : ', ' }}
                    </ng-container>
                </ng-container>
            </div>
            <p class="overview is-size-6 has-text-grey">{{ movie.overview }}</p>
        </div>
    </div>
</div>

<div *ngIf="movieCredits" class="credits container is-fluid section">
    <h3 class="title is-4 has-text-grey-lighter">Cast</h3>
    <div class="columns is-multiline is-mobile">
        <div *ngFor="let cast of movieCredits.cast | slice:0:10" class="cast column is-narrow">
            <div class="card">
                <div class="card-image">
                    <a routerLink="/person/{{ cast.id }}">
                        <figure class="image{{ !cast.profile_path ? ' nopicture' : '' }}" [routerLink]="">
                            <img *ngIf="cast.profile_path; else nopictureBlock"
                                src="https://image.tmdb.org/t/p/w154{{ cast.profile_path }}" alt="{{ cast.name }}" />
                            <ng-template #nopictureBlock>
                                <img src="../assets/nopicture_person.png" alt="" />
                            </ng-template>
                        </figure>
                    </a>
                </div>
                <div class="card-content">
                    <p class="title is-6">{{ cast.name }}</p>
                    <p class="subtitle is-6">{{ cast.character }}</p>
                </div>
            </div>
        </div>
    </div>
    <a class="title is-5 has-text-link">All cast & crew</a>
</div>

<div *ngIf="similarMovies && similarMovies.length" class="similar container is-fluid section">
    <h3 class="title is-4 has-text-grey-lighter">Similar movies</h3>
    <div class="columns is-multiline is-mobile">
        <ng-container *ngFor="let similarMovie of similarMovies">
            <a class="movie column" routerLink="/title/{{ similarMovie.id }}">
                <img *ngIf="similarMovie.poster_path; else nopictureBlock"
                    src="https://image.tmdb.org/t/p/w154{{ similarMovie.poster_path }}" class="image" />
                <ng-template #nopictureBlock>
                    <img src="../assets/nopicture_movie.png" alt="{{ similarMovie.name }}" />
                </ng-template>
            </a>
        </ng-container>
    </div>
</div>
