<app-loading-spinner [show]="loading" overlay></app-loading-spinner>
<div *ngIf="movie">
    <div class="details is-relative" [ngClass]="{ 'no-backdrop': !movie.backdrop_path }">
        <div *ngIf="movie.backdrop_path"
            [style.backgroundImage]="'url(' + imageService.url(movie.backdrop_path, 'backdrop') + ')'"
            class="backdrop is-hidden-touch" appParallax>
        </div>
        <div class="section columns">
            <div class="section column is-narrow is-offset-1 is-relative">
                <app-image [url]="movie.poster_path" classList="cover container" type="movie" size="medium"></app-image>

                <div *ngIf="movie.vote_count !== 0" class="user-ratings column has-text-centered">
                    <span class="title is-3">{{ movie.vote_average }}</span>
                    <span class="has-text-grey">/10</span>
                    <div>
                        <small class="has-text-grey">{{ movie.vote_count | number }} ratings</small>
                    </div>
                </div>
            </div>
            <div class="summary section is-medium column is-5">
                <h2 class="title is-2">
                    {{ movie.title }}
                    <small class="subtitle is-4">{{ movie.release_date | date: 'yyyy' }}</small>
                </h2>
                <div *ngIf="movie.title !== movie.original_title" class="has-text-grey-light">
                    {{ movie.original_title }} <span class="is-italic">(original title)</span>
                </div>
                <div class="subtext is-size-7-mobile has-text-grey-light">
                    <ng-container *ngIf="movieRating">
                        <span class="rating">{{ movieRating }}</span>
                    </ng-container>
                    <ng-container *ngIf="movie.runtime">
                        <span class="runtime">{{ movie.runtime }} min</span>
                        <span class="separator">|</span>
                    </ng-container>
                    <span *ngIf="movie.release_date"
                        class="release-date">{{ movie.release_date | date: 'd MMMM yyyy' }}</span>
                    <ng-container *ngIf="movieGenres.length">
                        <span class="separator">|</span>
                        <ng-container *ngFor="let genre of movieGenres; let isLast=last">
                            <span>{{ genre }}</span>{{ isLast ? '' : ', ' }}
                        </ng-container>
                    </ng-container>
                </div>
                <app-reveal-content [maxHeight]="222">
                    <div [innerHTML]="movie.overview | paragraph" class="is-size-6 has-text-grey"></div>
                </app-reveal-content>

                <app-add-to-list [id]="movie.id" [image]="movie.poster_path"></app-add-to-list>

            </div>
        </div>
    </div>

    <div *ngIf="movie.credits" class="credits container section">
        <h3 class="title is-4 has-text-grey-lighter">Cast</h3>
        <div class="grid-columns columns">
            <div *ngFor="let cast of movie.credits.cast | slice:0:10" class="cast column">
                <div class="card">
                    <div class="card-image">
                        <a routerLink="/person/{{ cast.id }}">
                            <app-image [url]="cast.profile_path" type="person" size="small" small></app-image>
                        </a>
                    </div>
                    <div class="card-content">
                        <p class="title is-6">{{ cast.name }}</p>
                        <p class="subtitle is-6">{{ cast.character }}</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="title is-5 has-text-link">All cast & crew</a>
    </div>

    <div *ngIf="similarMovies.length" class="similar container section">
        <h3 class="title is-4 has-text-grey-lighter">Similar movies</h3>
        <div class="grid-columns columns">
            <ng-container *ngFor="let similarMovie of similarMovies">
                <a class="movie column" routerLink="/title/{{ similarMovie.id }}">
                    <app-image [url]="similarMovie.poster_path" type="movie" size="small" small></app-image>
                </a>
            </ng-container>
        </div>
    </div>
</div>
