<div *ngIf="movie" class="details is-relative">
    <div *ngIf="movie.backdrop_path"
        [style.backgroundImage]="'url(https://image.tmdb.org/t/p/w1280/' + movie.backdrop_path + ')'"
        class="backdrop is-hidden-touch">
    </div>
    <div class="columns">
        <figure class="section column is-narrow is-offset-1">
            <img src="https://image.tmdb.org/t/p/w342/{{ movie.poster_path }}" class="image container" />
        </figure>
        <div class="summary section is-medium column is-5">
            <h2 class="title is-2">
                {{ movie.title }}
                <small class="subtitle is-4">({{ movie.release_date | date: 'yyyy' }})</small>
            </h2>
            <div *ngIf="movie.title !== movie.original_title">
                {{ movie.original_title }} <span class="is-italic">(original title)</span>
            </div>
            <div class="subtext is-size-7-mobile has-text-grey-light">
                <ng-container *ngIf="movieRating">
                    <span class="rating">{{ movieRating }}</span>
                    <span class="separator">|</span>
                </ng-container>
                <span class="runtime">{{ movie.runtime }} min</span>
                <span class="separator">|</span>
                <span class="release-date">{{ movie.release_date | date: 'd MMMM yyyy' }}</span>
                <ng-container *ngIf="movieGenres">
                    <span class="separator">|</span>
                    <ng-container *ngFor="let genre of movieGenres; let isLast=last">
                        <span>{{ genre }}</span>{{ isLast ? '' : ', ' }}
                    </ng-container>
                </ng-container>
            </div>
            <p class="overview is-size-6 has-text-grey">{{ movie.overview }}</p>
        </div>
    </div>
</div>

<div *ngIf="similarMovies && similarMovies.length" class="similar container is-fluid section">
    <h3 class="title is-4 has-text-grey-lighter">Similar movies</h3>
    <div class="columns is-multiline is-mobile">
        <ng-container *ngFor="let similarMovie of similarMovies">
            <a *ngIf="similarMovie.poster_path" class="movie column is-narrow"
                routerLink="/title/{{ similarMovie.id }}">
                <img src="https://image.tmdb.org/t/p/w154/{{ similarMovie.poster_path }}" />
            </a>
        </ng-container>
    </div>

</div>
