@import "../../variables";

.backdrop {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.15;

    &::after {
        content: '';
        position: absolute;
        z-index: 10;
        background-image: linear-gradient(to top, $black-bis, transparent);
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 114px
    }    
}

.details {
    .summary {
        z-index: 1;
    }

    .subtext {
        margin-bottom: 0.25em;
        
        .separator {
            color: $grey-dark;
            margin-left: 0.25em;
            margin-right: 0.5em;
        }
    }

    .image {
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 
                    0 0px 0 1px rgba(10, 10, 10, 0.75);        
    }
}

.similar {
    margin-left: auto;

    img {
        width: $movie-small-thumb-width;
    }
}
