<figure class="app-image image" [ngClass]="classList">
    <ng-content></ng-content>
    <!-- Display placeholder image while loading, destroy spinner when image is done loading -->
    <app-loading-spinner *ngIf="src; else noPictureBlock" [show]="loading" [destroy]="removeSpinner">
        <img *ngIf="!lazy; else lazyBlock" [src]="imageService.url(src, type, size)" [alt]="alt"
            (load)="setImageLoaded()" [ngClass]="!removeSpinner ? 'image-placeholder image-ratio-' + ratio  : ''" />
        <ng-template #lazyBlock>
            <img [attr.data-src]="imageService.url(src, type, size)" [attr.data-original-src]="src" [alt]="alt"
                (load)="setImageLoaded()" [ngClass]="!removeSpinner ? 'image-placeholder image-ratio-' + ratio  : ''" />
        </ng-template>
    </app-loading-spinner>

    <ng-template #noPictureBlock>
        <div *ngIf="type !== 'backdrop'" class="image-none" [ngClass]="{ small: small }">
            <div class="image-none-holder image-placeholder image-ratio-{{ ratio }}" [ngClass]="{ small: small }">
                <fa-icon *ngIf="type === 'movie' || type === 'block'" [icon]="faFilm"></fa-icon>
                <fa-icon *ngIf="type === 'person'" [icon]="faUser"></fa-icon>
            </div>
        </div>
    </ng-template>
</figure>
