<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-warning" routerLink="/">{{ title }}</a>

    <a (click)="toggleNavbar()" #navBurger role="button" class="navbar-burger burger" aria-label="menu"
      aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/" routerLinkActive="is-active"
        [routerLinkActiveOptions]="{exact: true}">Home</a>

      <a class="navbar-item" routerLink="/discover" routerLinkActive="is-active">Discover</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          <a class="navbar-item is-paddingless" routerLink="/movies" routerLinkActive="is-active">
            Movies
          </a>
        </div>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/movies/popular" routerLinkActive="is-active">
            Popular
          </a>
          <a class="navbar-item" routerLink="/movies/top" routerLinkActive="is-active">
            Top Rated
          </a>
          <a class="navbar-item" routerLink="/movies/upcoming" routerLinkActive="is-active">
            Upcoming
          </a>
        </div>
      </div>

      <a class="navbar-item" routerLink="/people" routerLinkActive="is-active">People</a>

      <app-search class="navbar-item navbar-search is-expanded"></app-search>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" routerLink="/lists" routerLinkActive="is-active">
        <span class="icon has-text-danger">
          <fa-icon [icon]="faHeart"></fa-icon>
        </span>
        <span>My Lists</span>
      </a>
    </div>
  </div>
</nav>

<ng-scrollbar class="scrollbar" pointerEventsMethod="scrollbar">
  <div class="container is-fluid is-paddingless">
    <router-outlet></router-outlet>
  </div>
</ng-scrollbar>
