
@import "../variables";

.scrollbar {
    --scrollbar-border-radius: 8px;
    --scrollbar-padding: 0px;
    --scrollbar-viewport-margin: 0;
    --scrollbar-track-color: transparent;
    --scrollbar-wrapper-color: transparent;
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.2);
    --scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.3);
    --scrollbar-size: 8px;
    --scrollbar-hover-size: 10px;
    --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
    --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
}

.navbar {
    &-start {
        flex-grow: 1;
    }

    &-item {
        transition: color 300ms;
        
        .icon {
            margin-left: -.25em;
            margin-right: .25em;
        }

        &.is-active {
            font-weight: bold;
            color: $white;
        }

        .navbar-dropdown .is-active {
            color: $yellow;
        }
    }

    &-dropdown {
        min-width: 188px;
    }

    &-brand {
        font-size: 18px;
        font-weight: bold;
    }

    &-burger {
        // Left-aligned burger
        order: -1;
        margin-left: 0;
        user-select: none;

        &:hover {
            color: inherit;
            background-color: $grey-darker;
        }

        span {
            height: 2px;
        }
    }

    @include touch {
        &-start {
            display: flex;
            flex-direction: column;
        }

        &-search {
            order: -1;
        }
    }

    @include desktop {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
