<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">{{ title }}</a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/movies">
        Movies
      </a>

      <a class="navbar-item" routerLink="/actors">
        Actors
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <app-search></app-search>
      </div>
    </div>
  </div>
</nav>

<div class="container is-fluid">
  <router-outlet></router-outlet>
</div>
