<div class="movies section container is-fluid">

  <div class="filter">
    <div class="columns">
      <div class="column">
        <p *ngIf="title" class="title is-4 is-paddingless">{{ title }}</p>
      </div>
      <div class="column is-narrow">
        <div class="select is-rounded is-fullwidth is-grey">
          <select [(ngModel)]="filter" (ngModelChange)="onFilterChange($event)">
            <option value="" selected disabled hidden>Filter by Rating</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
            <option value="NC-17">NC-17 (NSFW)</option>
            <option value="NR">NR - Not Rated (NSFW-ish)</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <app-infinite-scroll (scrolled)="onScroll()">
    <ul *ngIf="(movies | async)" class="columns is-multiline is-mobile">
      <ng-container *ngFor="let movie of (movies | async)">
        <!-- Render movie -->
        <li *ngIf="movie.poster_path; else elseBlock" class="movie column">
          <a routerLink="/title/{{ movie.id }}">
            <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" class="image" alt="{{ movie.title }}" />
          </a>
        </li>
        <!-- Render person -->
        <ng-template #elseBlock>
          <li *ngIf="movie.profile_path" class="movie column">
            <a routerLink="/person/{{ movie.id }}">
              <img src="https://image.tmdb.org/t/p/w300{{ movie.profile_path }}" class="image" alt="{{ movie.name }}" />
            </a>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </app-infinite-scroll>
</div>
