<div class="movies section container is-fluid">
  <p *ngIf="title" class="title is-4 is-paddingless">{{ title }}</p>
  <app-infinite-scroll (scrolled)="onScroll()">
    <ul *ngIf="(movies | async)" class="columns is-multiline is-mobile">
      <ng-container *ngFor="let movie of (movies | async)">
        <li *ngIf="movie.poster_path" class="movie column is-narrow">
          <a routerLink="/title/{{ movie.id }}">
            <img src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}" class="image" />
          </a>
        </li>
      </ng-container>
    </ul>
  </app-infinite-scroll>
</div>
