<app-movies (onScroll)="onScroll()">
    <div class="filter">
        <div class="columns">
            <div class="column">
                <p class="title is-4 is-paddingless">Discover new movies</p>
            </div>
            <div class="column is-narrow">
                <div class="select is-rounded is-fullwidth is-grey" required>
                    <select [(ngModel)]="sortByFilter" (ngModelChange)="onSortByFilterChange($event)" required>
                        <option value="popularity.desc" selected>Popularity Descending</option>
                        <option value="popularity.asc">Popularity Ascending</option>
                        <option value="vote_average.desc">Rating Descending</option>
                        <option value="vote_average.asc">Rating Ascending</option>
                        <option value="primary_release_date.desc">Release Date Descending</option>
                        <option value="primary_release_date.asc">Release Date Ascending</option>
                        <option value="title.asc">Title (A-Z)</option>
                        <option value="title.desc">Title (Z-A)</option>
                    </select>
                </div>
            </div>
            <div class="column is-narrow">
                <div class="select is-rounded is-fullwidth is-grey" required>
                    <select [(ngModel)]="genresFilter" (ngModelChange)="onGenreFilterChange($event)" required>
                        <option value="" selected disabled hidden>Filter by genres</option>
                        <option value="">All genres</option>
                        <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
                    </select>
                </div>
            </div>
            <div class="column is-narrow">
                <div class="select is-rounded is-fullwidth is-grey">
                    <select [(ngModel)]="ratingFilter" (ngModelChange)="onFilterChange($event)" required>
                        <option value="" selected disabled hidden>Filter by Rating</option>
                        <option value="">All ratings</option>
                        <option value="G">G</option>
                        <option value="PG">PG</option>
                        <option value="PG-13">PG-13</option>
                        <option value="R">R</option>
                        <option value="NC-17">NC-17 (NSFW)</option>
                        <option value="NR">NR - Not Rated (NSFW-ish)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</app-movies>
