.wrapper {
    z-index: -1;
    position: relative;
    opacity: 0;
    transition: opacity 500ms;

    &.show {
        z-index: 2;
        opacity: 1;
    }

    &.overlay {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 56px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .contained {
        z-index: 9001;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;        
    }

    .loader {
        height: 80px;
        width: 80px;
    }
}
