<div class="movies section container is-fluid">
  <p *ngIf="title" class="title is-4 is-paddingless">{{ title }}</p>
  <ng-content select=".filter"></ng-content>

  <app-infinite-scroll (scrolled)="runOnScroll()">
    <ul *ngIf="(movies | async)" class="grid-columns grid-large section columns is-centered">
      <ng-container *ngFor="let movie of (movies | async); let first = first;">
        <!-- Render movie -->
        <li *ngIf="movie.poster_path; else elseBlock" class="movie column">
          <a routerLink="/title/{{ movie.id }}">
            <app-image *ngIf="first; else notFirst" [url]="movie.backdrop_path" type="block" [alt]="movie.title">
            </app-image>
            <ng-template #notFirst>
              <app-image [url]="movie.poster_path" type="movie" size="medium" small [alt]="movie.title"></app-image>
            </ng-template>
            <div class="movie-title-background"></div>
            <div class="movie-title">
              {{ movie.title }}
              <span class="movie-year">{{ movie.release_date | date: 'yyyy' }}</span>
            </div>
          </a>
        </li>
        <!-- Render person -->
        <ng-template #elseBlock>
          <li *ngIf="movie.profile_path" class="person column">
            <a routerLink="/person/{{ movie.id }}">
              <app-image [url]="movie.profile_path" type="person" size="small" small [alt]="movie.name"></app-image>
            </a>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </app-infinite-scroll>
</div>
