%movie {
    min-width: 150px; 
    max-width: 232px;

    @include desktop {
        min-width: 193px;
    }

    @include fullhd {
        min-width: 208px;
    }
}

%details-image {
    width: 342px;
    height: 513px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 
                0 0px 0 1px rgba(10, 10, 10, 0.75);
}
