@import "./variables";

html,
body {
    background-color: $black;
    height: 100%;
    overflow: hidden;
}

.ng-scroll-viewport {
  display: flex;
  flex-direction: column;
}

.ng-scroll-content {
  flex: 1;
}
