@charset "utf-8";

$movie-thumb-width: 205px;
$movie-small-thumb-width: 162px;

$navbar-background-color: hsl(0, 0%, 7%);
$navbar-item-color: hsl(0, 0%, 93%);
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: hsl(0, 0%, 71%);
$navbar-item-active-color: hsl(0, 0%, 100%);

@import "~node_modules/bulma/bulma.sass";
