@charset "utf-8";

$movie-thumb-width: 208px;
$movie-small-thumb-width: 162px;

$app-background: hsl(0, 0%, 4%);
$yellow: hsl(48, 100%, 67%);

// Bulma overrides
$text: #fff;
$title-color: $text;
$subtitle-color: hsl(0, 0%, 71%);
$link: $yellow;

$input-color: hsl(0, 0%, 86%);
$input-background-color: hsl(0, 0%, 14%);
// $input-focus-color: $input-background-color;
$input-border-color: hsl(0, 0%, 29%);
$input-hover-border-color: hsl(0, 0%, 21%);
$input-placeholder-color: hsl(0, 0%, 48%);

$navbar-background-color: hsl(0, 0%, 7%);
$navbar-item-color: hsl(0, 0%, 90%);
$navbar-item-hover-color: hsl(0, 0%, 71%);
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: hsl(0, 0%, 100%);
$navbar-dropdown-border-top: 2px solid hsl(0, 0, 14%);
$navbar-dropdown-background-color: hsl(0, 0%, 7%);
$navbar-dropdown-arrow: $yellow;
$navbar-dropdown-item-hover-color: $navbar-item-hover-color;
$navbar-dropdown-item-hover-background-color: hsl(0, 0%, 7%);
$navbar-dropdown-item-active-background-color: transparent;

$card-color: hsl(0, 0%, 93%);
$card-background-color: transparent;
$card-content-padding: 0.75rem 0;

@import "~node_modules/bulma/bulma";
@import "./helpers";
